// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #ffe121;
$orange: #E67E22;
$green: #64a36f;
$gray: #000000;
$light-gray: #fcfaf1;
$light-beige: #fbfae1;
$light-green: #cef0b9;
