<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Add a new restaurant</h1>
      <hr>
      <%= render 'form_restaurant', restaurant: @restaurant %>
    </div>
  </div>
  <br>
</div>
