

<div class="container">
  <h1 class="yellow-header text-center"><i class="far fa-lemon"></i>  <%= @restaurant.name %></h1>
  <br>
  <h4>Type of Food</h4>
  <hr>
  <p><%= @restaurant.category.capitalize %></p>
  <br>
  <div class="contact">
    <h4>Contact</h4>
    <hr>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <br>
  <div class="reviews">
    <h4>Reviews</h4>
    <hr>
    <div class="review">

    </div>
  </div>
</div>
