<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Add a review for <em><%= @restaurant.name %></em></h1>
      <hr>
      <%= render 'form_review' %>
    </div>
  </div>
  <br>
</div>
